<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JNDI</title>
    <style>
    </style>
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container">
    <div class="input-container">
        <form id="my-form" method="POST" action="/jndiTest">
            <input type="text" id="input-box" name="url" placeholder="输入JNDI地址">
            <button type="submit" id="submit-btn">Submit</button>
        </form>
    </div>
    <div class="result" id="result-box" th:text="${result}">您还没有输入内容</div>
</div>

</body>
</html>